.font-1{
   
   font-family: 'Kalnia', serif;
}



.rowNav{
   
   margin-left:209px ;
   margin-right: 209px;
   
   padding-bottom: 25px;
   
}

a{
   
   color: rgb(144, 144, 144);
}

.navImg{
   
   background-color: rgb(255, 255, 255);
   
}

header{
   
   
   
   height:100vh;
   
   background-image: url(./media/mountains2.png), url(./media/switzerland-862870_1920.jpg);
   background-size: cover,cover;
   background-repeat: no-repeat, no-repeat;
   background-position-x: center,center    ;
   background-position-y: center,center  ;
   
   
   
   
   
   
   
}

span{
   
   margin-left: 10px;
   margin-right: 10px;
   color: darkred;
   
   
}

h1{
   
   
   font-size: 70px;
   
}


.paragrafoApici::before{
   
   
   content: '"';
   font-size: 99px;
   position: absolute;
   color: darkred;
   
   left:-27px;
   top: -70px;
   rotate: 180deg;
   
   
   
}

.paragrafoApici{
   
   font-size: 17px;
   position: relative;
}

.paragrafoApici::after{
   
   
   content: '"';
   font-size: 99px;

   rotate: 180deg;
   bottom: -60px;

   
   
   
   
   
}




main{
   
   height: fit-content;
}


.iconadi4{
   
   font-size: 60px;
   color: darkred;
   
}

.divparagrafo2{
   
   margin-top: 150px;
   background-color: rgb(237, 235, 235);
   
   padding-left: 60px;
   padding-right: 60px;
}


.divparagrafo1{
   
   
   background-color: rgb(237, 235, 235);
   
}


.hricone{
   
   
   border: 3px solid darkred;
   opacity: 1;
   width: 200px;
   
}

.hricone::before{
   
   content: '';
   border: 3px solid darkred;
   border-radius: 50%;
   position: absolute;
   height: 25px;
   width: 25px;
   left: 85px;
   bottom: 6px;
   background-color: aliceblue;
   
}

.divreverso{
   
   
   right: -110px;
}


.container2para{
   
   margin-top: 150px;
}

.divbottone{
   
   
   margin-top:80px;
   
}

.bottone1{
   
   
   background-color: darkred;
   color: white;
   border: none;
   font-weight: 70px;
   padding-top: 8px;
   padding-bottom: 8px;
   padding-left: 25px;
   padding-right: 25px;
   
}


.articleBoschi{
   
   background-image: url(./media/trees2.png);
   height: 460px;
   background-size: cover;
   background-color: rgb(237, 235, 235);
   position: relative;
   
   
   
}

h3{

   color: darkred;
   margin-bottom: 40px;
}



.divTimeline{

   border-left: 4px solid darkred;
   height: 575px;
}

.h4Timeline{

   color: darkred;
   position: relative;


}

.h4Timeline::before{

   content: '';
   border: solid 2px darkred;
   position: absolute;
   height: 20px;
   width: 20px;
   border-radius: 50%;
   /* left: 66px; */
   background-color: white;
   left: -24px;

}


.containerAlberini{

   background-image: url(./media/single.png);
   background-repeat: no-repeat;
   background-position: bottom;
   background-position-x: 670px;
   height: 690px;
   
   
}



.imgSocial{

   height: 150px;
   width: 150px;
   border-radius: 50%;
   border: 3px solid darkred;
   padding: 6px;
   position: relative;
}



h5{
   color: darkred;
}

.div-brand{


   color: darkred;
}

body{

   width: 100%;
}

.imgStorte{


   height: 200px;
   width: 200px;
   border-radius: 50%;
   border: 3px solid darkred;
   padding: 6px;
}


h1,h2,h3,h4,h5{

   color: darkred;
}

.containerTeam{

   background-color: rgb(237, 235, 235);

   height: fit-content;

   padding-bottom: 65px;
   

   
}




.container-benefits{
   background-color: rgb(237, 235, 235);
   height: 890px;
   background-image: url(./media/other.png);
   background-repeat: no-repeat;
   background-position: bottom;
  
   

   

}

.h3coco{

   position: relative;
   top: 50px;
   left: 60px;
}





footer{

   background-color: darkred;
   height: fit-content
}


.fine{

   color: white;
}


@media screen and (max-width: 992px
   
){

   .respolink{

    padding-left: 2px;
   }




   
}


@media screen and (max-width: 1072px){}


.paragrafoApici::after{
   
   
   content: '"';
   font-size: 99px;
   position: absolute;
   color: darkred;
   top: 10px;
   rotate: 180deg;

   
   
   
   
}




   


@media screen and (max-width: 869px){}



.paragrafoApici::after{
   
   
   content: '"';
   font-size: 99px;
   position: absolute;
   color: darkred;
   top: 40px;
   rotate: 180deg;

   
   
   
   
}

   



@media screen and (max-width: 652px
   
){

   

.container-benefits{
   background-color: rgb(237, 235, 235);
   height: 890px;
   background-image: url(./media/other.png);
   background-repeat: no-repeat;
   background-position: bottom;
   background-size: 659px;
   
  
   

   

}



}


   
.paragrafoApici::after{
   
   
   content: '"';
   font-size: 99px;
   position: absolute;
   color: darkred;
   top: 70px;
   rotate: 180deg;

   
   
   
   
}



  


}


@media screen and (max-width: 412px
   
){

   body{

      width: 130%;
   }


   

}



@media screen and (max-width: 566px
   
){





}


@media screen and (max-width:927px){




}

@media screen and (max-width:952px){


 
.articleBoschi{
   
   background-image: url(./media/trees2.png);
   height: 360px;
   background-size: cover;
   background-color: rgb(237, 235, 235);
   position: relative;
   
   
   
}


.bottone1{

   margin-bottom: 140px;
}

}


@media screen and (max-width:1200px){


   .containerAlberini{


      height: 800px;
   }




   .divTimeline{

      height: 670px;



   }

}



@media screen and (max-width:992px){

     .containerAlberini{

      height: 960px;
     }

   .divTimeline{

      height: 670px;



   }

}


@media screen and (max-width:773px){


   .containerAlberini{


      height: 1050px;
   }




   .divTimeline{

      height: 670px;



   }

}


@media screen and (max-width:1196px){

   .containerAlberini{

      background-image: url(./media/single.png);
      background-size: 410px;
      background-position-x: 500px;
    
      
   }
   
   
}


@media screen and (max-width:1242px){

   .containerAlberini{

      background-image: url(./media/single.png);
      background-size: 510px;
      background-position-x: 600px;
    
      
   }
   
   
}


@media screen and (max-width:1202px){

   .containerAlberini{

      background-image: url(./media/single.png);
      background-size: 310px;
      background-position-x: 600px;
    
      
   }
   
   
}



@media screen and (max-width:995px){

   .containerAlberini{

      background-image: url(./media/single.png);
      background-size: 310px;
      background-position-x: 400px;
      
      
   }

   
   
}

@media screen and (max-width:769px){

   .containerAlberini{

      background-image: url(./media/single.png);
      background-size: 200px;
      background-position-x: 340px;
      
      
   }

   
   
}


@media screen and (max-width:994px){

   .divTimeline{

      height: 860px;
   }

   

   
   
}

@media screen and (max-width:992px){

   .divTimeline{

      height: 955px;
   }

   

   
   
}


@media screen and (min-width:757px) and (max-width:996px){

   .divTimeline{

      height: 669px;
   }

   
}


@media screen and (max-width:992px){

   .divTimeline{

      height: 860px;
   }

   

   
   
}


@media screen and (max-width:767px){

   .divTimeline{

      height: 955px;
   }

   

   
   
}


@media screen and (max-width:618px){

   
   
}






















